body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background:silver;
  color: blue;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background:yellow;
  color:red;
  border-radius: 5px;
}

button:hover {
  background: purple;
}
